{
  "logging": {
    "method": "file"
  },
  "services": {
    "base_uri": "https://cspace.lyrasistechnology.org/cspace-services",
    "username": "admin@cspace.lyrasistechnology.org",
    "password": "Administrator",
    "verify_ssl": false
  },
  "templates": {
    "urn": "cspace.lyrasistechnology.org",
    "templates_path": "templates"
  }
}
