<?xml version="1.0" encoding="UTF-8"?>
<document name="media">
  <ns2:media_common xmlns:ns2="http://collectionspace.org/services/media" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <identificationNumber><%= data[:id] %></identificationNumber>
    <title><%= data[:title] %></title>
  </ns2:media_common>
</document>