<?xml version="1.0" encoding="UTF-8"?>
<document name="groups">
  <ns2:groups_common xmlns:ns2="http://collectionspace.org/services/group" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <title><%= data[:title] %></title>
  </ns2:groups_common>
</document>